<div class="container ">
	<div class="main-content">
		<h3>Upload File</h3>
		<div class="jumbotron fileinput fileinput-new"
			style="overflow-y: auto">
			<label class="col-md-offset-3">{{message}}</label>
			<div class="formcontrol">

				<form class="form-horizontal" name="uploadForm" novalidate>

					<div class="form-group form-group-md">
						<label class="col-md-3 control-label" for="applicableDate">
							Applicable Date</label>
						<div class="col-md-4">
							<div class="input-group">
								<input type="text" class="form-control" uib-datepicker-popup
									id="applicableDate" placeholder="Applicable Date"
									name="applicableDate" ng-model="applicableDate"
									is-open="dateOpen" ng-pattern="patterns.dateFormatKw"
									ng-click="dateOpen=true" ng-required="true"
									datepicker-options="dateOptions" close-text="Close" /> <span
									class="input-group-btn">
									<button type="button" class="btn btn-default"
										ng-click="dateOpen=true" id="calButton">
										<i class="glyphicon glyphicon-calendar"></i>
									</button>
								</span>
							</div>
							<span class="errortext"
								ng-show="!uploadForm.applicableDate.$pristine && uploadForm.applicableDate.$invalid">Please
								select a Date from Calendar.</span>
						</div>
					</div>

					<div class="form-group form-group-md">
						<label class="col-md-3 control-label" for="fileType"> File
							Type</label>
						<div class="col-md-4">
							<select ng-init="fetchFileTypes()" class="form-control"
								id="fileType" name="fileType" ng-change="fileTypeChanged()"
								ng-model="fileType"
								ng-options="fileType.mapperKey as fileType.mapperName for fileType in mapperFiles">
								<option value="">Select</option>
							</select>
						</div>
					</div>

					<!-- <div class="form-group form-group-md" ng-show="fileType=='Yield Curve'">
						<label class="col-md-3 control-label" for="rateCcy">
							Currency</label>
						<div class="col-md-4">
							<select  class="form-control" id="rateCcy" name="rateCcy" ng-model="rateCcy" ng-options="ccy as ccy for ccy in currencies | orderBy:ccy">
								<option value="">Select</option>
							</select>
						</div>
					</div> -->

					<div class="form-group form-group-md">
						<label class="col-md-3 control-label" for="selectedFile">
							Select File</label>
						<div class="col-md-4">
							<label class="btn btn-default width-100percent"> <input
								type="file" style="display: inline; width: 100%"
								file-model="selectedFile" id="selectedFile" accept=".xls,.xlsx"
								required />
							</label>
						</div>
					</div>
					<label class="col-md-offset-3 col-md-4">{{selectedFile.name+"
						"+(selectedFile.size!==NAN?(selectedFile.size/1024)+"KB":"")}}</label>
					<div class="form-group form-group-md">
						<div class="col-md-offset-3 col-md-4">
							<button class="btn btn-default btn-orange uploadbtn"
								ng-click="uploadForm.$valid && uploadFile()">
								<span class="glyphicon glyphicon-upload"></span>Upload
							</button>
							<button type="reset" class="btn btn-default "
								ng-click="resetFileForm()">Reset</button>
						</div>
					</div>

				</form>
			</div>
			<div class="row">
				<div class="form-group form-group-md"
					ng-show="tempList.length>0 || mainList.length>0">
					<div class="col-md-offset-8 col-md-4" style="padding-right:3%">
						<button class="btn btn-default pull-right">Cancel</button>
						<button class="btn btn-default btn-orange pull-right"
							ng-click="processMappers()">Proceed</button>
					</div>
				</div>
			</div>
			<div ng-if="fileType=='CT'" class="main-content">
				<div class="col-md-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							<strong>Uploaded Content</strong>
						</div>
						<div class="panel-body"
							style="overflow-x: scroll; overflow-y: scroll">
							<table width="100%" class="table table-bordered table-striped"
								border="0" cellspacing="0" cellpadding="0">
								<tbody>
									<tr>
										<th ng-repeat="cHead in categoryMapper"><span></span>
											{{getSplitWord(cHead)}}<span>{{item1.join(" ")}}</span><br>
											<span>{{item2.join(" ")}}</span></th>
									</tr>
									<tr ng-show="tempList.length==0">
										<td style="text-align: center"
											colspan="{{categoryMapper.length}}">No Data available.</td>
									</tr>
									<tr ng-repeat="obj in tempList">
										<td>{{obj.glSubheadCode}}</td>
										<td>{{obj.glSubheadDesc}}</td>
										<td>{{obj.drFtpCat}}</td>
										<td>{{obj.crFtpCat}}</td>
										<td>{{obj.userSubclassCodeIn}}</td>

										<td>{{obj.userSubclassCodeNotIn}}</td>
										<td>{{obj.bacidIn}}</td>
										<td>{{obj.bacidNotIn}}</td>

										<td>{{obj.divisionCodeIn}}</td>
										<td>{{obj.divisionCodeNotIn}}</td>

										<td>{{obj.custInLength}}</td>
										<td>{{obj.custTypeIn}}</td>
										<td>{{obj.custNotInLength}}</td>

										<td>{{obj.custTypeNotIn}}</td>
										<td>{{obj.subDivisionCodeIn}}</td>
										<td>{{obj.subDivisionCodeNotIn}}</td>

										<td>{{obj.tradingBookNameIn}}</td>
										<td>{{obj.tradingBookNameNotIn}}</td>
										<td>{{obj.instrumentClassIn}}</td>

										<td>{{obj.instrumentClassNotIn}}</td>
										<td>{{obj.groupByLogic}}</td>
										<td>{{obj.count}}</td>
										<td>{{obj.version}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							<strong>Existing Content</strong>
						</div>
						<div class="panel-body"
							style="overflow-x: scroll; overflow-y: scroll">
							<table width="100%" class="table table-bordered table-striped"
								border="0" cellspacing="0" cellpadding="0">
								<tbody>
									<tr>
										<th ng-repeat="cHead in categoryMapper"><span></span>
											{{getSplitWord(cHead)}}<span>{{item1.join(" ")}}</span><br>
											<span>{{item2.join(" ")}}</span></th>
									</tr>
									<tr ng-show="mainList.length==0">
										<td style="text-align: center"
											colspan="{{categoryMapper.length}}">No Data available.</td>
									</tr>
									<tr ng-repeat="obj in mainList">
										<td>{{obj.glSubheadCode}}</td>
										<td>{{obj.glSubheadDesc}}</td>
										<td>{{obj.drFtpCat}}</td>
										<td>{{obj.crFtpCat}}</td>
										<td>{{obj.userSubclassCodeIn}}</td>

										<td>{{obj.userSubclassCodeNotIn}}</td>
										<td>{{obj.bacidIn}}</td>
										<td>{{obj.bacidNotIn}}</td>

										<td>{{obj.divisionCodeIn}}</td>
										<td>{{obj.divisionCodeNotIn}}</td>

										<td>{{obj.custInLength}}</td>
										<td>{{obj.custTypeIn}}</td>
										<td>{{obj.custNotInLength}}</td>

										<td>{{obj.custTypeNotIn}}</td>
										<td>{{obj.subDivisionCodeIn}}</td>
										<td>{{obj.subDivisionCodeNotIn}}</td>

										<td>{{obj.tradingBookNameIn}}</td>
										<td>{{obj.tradingBookNameNotIn}}</td>
										<td>{{obj.instrumentClassIn}}</td>

										<td>{{obj.instrumentClassNotIn}}</td>
										<td>{{obj.groupByLogic}}</td>
										<td>{{obj.count}}</td>
										<td>{{obj.version}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

			<div ng-if="fileType=='PD'" class="main-content">
				<div class="col-md-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							<strong>Uploaded Content</strong>
						</div>
						<div class="panel-body"
							style="overflow-x: scroll; overflow-y: scroll">
							<table width="100%" class="table table-bordered table-striped"
								border="0" cellspacing="0" cellpadding="0">
								<tbody>
									<tr>
										<th ng-repeat="cHead in productMapper"><span></span>
											{{getSplitWord(cHead)}}<span>{{item1.join(" ")}}</span><br>
											<span>{{item2.join(" ")}}</span></th>
									</tr>
									<tr ng-show="tempList.length==0">
										<td style="text-align: center"
											colspan="{{productMapper.length}}">No Data available.</td>
									</tr>
									<tr ng-repeat="obj in tempList">
										<td>{{obj.ftpCategory}}</td>
										<td>{{obj.prodCode}}</td>
										<td>{{obj.prodDesc}}</td>
										<td>{{obj.astLiabClas}}</td>
										<td>{{obj.coreNonCore}}</td>
										<td>{{obj.corePrnt}}</td>
										<td>{{obj.version}}</td>

									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							<strong>Existing Content</strong>
						</div>
						<div class="panel-body"
							style="overflow-x: scroll; overflow-y: scroll">
							<table width="100%" class="table table-bordered table-striped"
								border="0" cellspacing="0" cellpadding="0">
								<tbody>
									<tr>
										<th ng-repeat="cHead in productMapper"><span></span>
											{{getSplitWord(cHead)}}<span>{{item1.join(" ")}}</span><br>
											<span>{{item2.join(" ")}}</span></th>
									</tr>
									<tr ng-show="mainList.length==0">
										<td style="text-align: center"
											colspan="{{productMapper.length}}">No Data available.</td>
									</tr>
									<tr ng-repeat="obj in mainList">
										<td>{{obj.ftpCategory}}</td>
										<td>{{obj.prodCode}}</td>
										<td>{{obj.prodDesc}}</td>
										<td>{{obj.astLiabClas}}</td>
										<td>{{obj.coreNonCore}}</td>
										<td>{{obj.corePrnt}}</td>
										<td>{{obj.version}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

			<div ng-if="fileType=='PC'" class="main-content">
				<div class="col-md-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							<strong>Uploaded Content</strong>
						</div>
						<div class="panel-body"
							style="overflow-x: scroll; overflow-y: scroll">
							<table width="100%" class="table table-bordered table-striped"
								border="0" cellspacing="0" cellpadding="0">
								<tbody>
									<tr>
										<th ng-repeat="cHead in policyMapper"><span></span>
											{{getSplitWord(cHead)}}<span>{{item1.join(" ")}}</span><br>
											<span>{{item2.join(" ")}}</span></th>
									</tr>
									<tr ng-show="tempList.length==0">
										<td style="text-align: center"
											colspan="{{policyMapper.length}}">No Data available.</td>
									</tr>
									<tr ng-repeat="obj in tempList">
										<td>{{obj.ftpCategory}}</td>
										<td>{{obj.ccyCodeIn}}</td>
										<td>{{obj.ccyCodeNotIn}}</td>
										<td>{{obj.divisionCodeIn}}</td>
										<td>{{obj.divisionCodeNotIn}}</td>
										<td>{{obj.origDivisionCodeIn}}</td>
										<td>{{obj.origDivisionCodeNotIn}}</td>

										<td>{{obj.custTypeIn}}</td>
										<td>{{obj.custTypeNotIn}}</td>
										<td>{{obj.subdivisionCodeIn}}</td>
										<td>{{obj.subdivisionCodeNotIn}}</td>
										<td>{{obj.fixedLength}}</td>

										<td>{{obj.maturityDate}}</td>
										<td>{{obj.baseTenor}}</td>
										<td>{{obj.marginTenor}}</td>
										<td>{{obj.applicableCurve}}</td>
										<td>{{obj.prePost}}</td>

										<td>{{obj.finalFtpCategory}}</td>
										<td>{{obj.uploadedDate}}</td>
										<td>{{obj.bankCode.bankCode}}</td>
										<td>{{obj.version}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							<strong>Existing Content</strong>
						</div>
						<div class="panel-body"
							style="overflow-x: scroll; overflow-y: scroll">
							<table width="100%" class="table table-bordered table-striped"
								border="0" cellspacing="0" cellpadding="0">
								<tbody>
									<tr>
										<th ng-repeat="cHead in policyMapper"><span></span>
											{{getSplitWord(cHead)}}<span>{{item1.join(" ")}}</span><br>
											<span>{{item2.join(" ")}}</span></th>
									</tr>
									<tr ng-show="mainList.length==0">
										<td style="text-align: center"
											colspan="{{policyMapper.length}}">No Data available.</td>
									</tr>
									<tr ng-repeat="obj in mainList">
										<td>{{obj.ftpCategory}}</td>
										<td>{{obj.ccyCodeIn}}</td>
										<td>{{obj.ccyCodeNotIn}}</td>
										<td>{{obj.divisionCodeIn}}</td>
										<td>{{obj.divisionCodeNotIn}}</td>
										<td>{{obj.origDivisionCodeIn}}</td>
										<td>{{obj.origDivisionCodeNotIn}}</td>

										<td>{{obj.custTypeIn}}</td>
										<td>{{obj.custTypeNotIn}}</td>
										<td>{{obj.subdivisionCodeIn}}</td>
										<td>{{obj.subdivisionCodeNotIn}}</td>
										<td>{{obj.fixedLength}}</td>

										<td>{{obj.maturityDate}}</td>
										<td>{{obj.baseTenor}}</td>
										<td>{{obj.marginTenor}}</td>
										<td>{{obj.applicableCurve}}</td>
										<td>{{obj.prePost}}</td>

										<td>{{obj.finalFtpCategory}}</td>
										<td>{{obj.uploadedDate}}</td>
										<td>{{obj.bankCode.bankCode}}</td>
										<td>{{obj.version}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

			<div ng-if="fileType=='DC'" class="main-content">
				<div class="col-md-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							<strong>Uploaded Content</strong>
						</div>
						<div class="panel-body"
							style="overflow-x: scroll; overflow-y: scroll">
							<table width="100%" class="table table-bordered table-striped"
								border="0" cellspacing="0" cellpadding="0">
								<tbody>
									<tr>
										<th ng-repeat="cHead in divisionMapper"><span></span>
											{{getSplitWord(cHead)}}<span>{{item1.join(" ")}}</span><br>
											<span>{{item2.join(" ")}}</span></th>
									</tr>
									<tr ng-show="tempList.length==0">
										<td style="text-align: center"
											colspan="divisionMapper.length}}">No Data available.</td>
									</tr>
									<tr ng-repeat="obj in tempList">
										<td>{{obj.glSubHeadCode}}</td>
										<td>{{obj.glshChar}}</td>
										<td>{{obj.entityCode}}</td>
										<td>{{obj.category}}</td>
										<td>{{obj.divisionDesc}}</td>
										<td>{{obj.officer}}</td>
										<td>{{obj.subDivision}}</td>

										<td>{{obj.division}}</td>
										<td>{{obj.finalDivisionDesc}}</td>
										<td>{{obj.uploadedDate}}</td>
										<td>{{obj.bankCode.bankCode}}</td>
										<td>{{obj.version}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							<strong>Existing Content</strong>
						</div>
						<div class="panel-body"
							style="overflow-x: scroll; overflow-y: scroll">
							<table width="100%" class="table table-bordered table-striped"
								border="0" cellspacing="0" cellpadding="0">
								<tbody>
									<tr>
										<th ng-repeat="cHead in divisionMapper"><span></span>
											{{getSplitWord(cHead)}}<span>{{item1.join(" ")}}</span><br>
											<span>{{item2.join(" ")}}</span></th>
									</tr>
									<tr ng-show="mainList.length==0">
										<td style="text-align: center"
											colspan="{{divisionMapper.length}}">No Data available.</td>
									</tr>
									<tr ng-repeat="obj in mainList">
										<td>{{obj.glSubHeadCode}}</td>
										<td>{{obj.glshChar}}</td>
										<td>{{obj.entityCode}}</td>
										<td>{{obj.category}}</td>
										<td>{{obj.divisionDesc}}</td>
										<td>{{obj.officer}}</td>
										<td>{{obj.subDivision}}</td>

										<td>{{obj.division}}</td>
										<td>{{obj.finalDivisionDesc}}</td>
										<td>{{obj.uploadedDate}}</td>
										<td>{{obj.bankCode.bankCode}}</td>
										<td>{{obj.version}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>