<nav class="navbar navbar-default content-header titlebar">
	<div class="headcontrol">
		<div class="container-fluid">
			<div class="col-md-6 col-xs-6">
				<div class="navbar-header">
					<a class="navbar-brand brand-logo-link" ui-href="#"> <img
						class="brand-image" alt="ABK" src="images/abk_logo.png"> <span
						class="brand-text">Al Ahli Bank of Kuwait</span>
					</a>
				</div>
				<h3 class="" style="color: #0077c0;">Fund Transfer Pricing</h3>
			</div>
		</div>
	</div>
</nav>
<div class="container">
	<div class="main-content">
		<div class="row">
			<div class="col-md-offset-3 col-md-6 loginpage jumbotron">
				<h2 class="text-center">Sign In</h2>
				<span class="errortext" ng-if="errorInLogin && !sessionExpired">Invalid
					credentials entered.</span> <span class="errortext" ng-if="sessionExpired">Session
					has been expired.</span>
				<form action="login" name="loginForm" id="loginForm" method="post"
					novalidate>
					<div class="form-group">
						<label for="userName">User name</label> <input type="text"
							ng-model="credentials.username"
							ng-pattern="patterns.alphaNumeric" class="form-control"
							id="userName" placeholder="User Name" required>
					</div>
					<div class="form-group">
						<label for="password">Password</label> <input type="password"
							ng-model="credentials.password" class="form-control"
							id="password" placeholder="Password" required>
					</div>
					<div class="form-group">
						<label for="password">Region</label> <select 
							ng-model="credentials.region" ng-init="credentials.region='01'" class="form-control"
							id="region" ng-options="entity.bankCode as entity.regionName for entity in entities | orderBy:'regionName'" required>
						</select>
					</div>
					<button type="button" ng-click="login(loginForm)"
						class="btn btn-default signinbtn">Login</button>
				</form>

			</div>
		</div>
	</div>
</div>

